@model UniversityManagementSystem.ViewModels.CourseAssignToTeacher
@{
    ViewBag.Title = "Assign";
}

<h2>Assign</h2>
<hr />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2">Department</p>
            <div class="col-md-10">
                @Html.DropDownList("Department", null, "Select Department", htmlAttributes: new { @class = "control-label col-md-2", id = "departmentId", })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Teaher</p>
            <div class="col-md-10">
                <select id="teacherId">
                    <option>Please Select a Value</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">Credit to be taken</p>
            <div class="col-md-10">
                <input type="text" id="creditTaken" />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">Couse Code</p>
            <div class="col-md-10">
                <select id="couseCode">
                    <option>Please Select a Value</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">Course Name</p>
            <div class="col-md-10">
                <input type="text" id="courseName" />
            </div>
        </div>
        <div class="form-group">
            <p class="control-label col-md-2">Couse Credit</p>
            <div class="col-md-10">
                <input type="text" id="courseCredit" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value=" Assign " onclick="sendfromdata()" class="btn btn-default" />
            </div>
        </div>
    </div>


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>

    $('#departmentId').on("change onmouseover", function () {

        var id = $('#departmentId').val();      
        $.post("/CourseToTeacherAssign/GetTeacherList", { id: id }).success(function (data) {            
           
            $('#teacherId').empty().append(' <option value="">Please Select a value</option>');
            data.forEach(function (obj) {              
                $('#teacherId').append($('<option>', {
                    value: obj.value,
                    text: obj.Text,
                    credit: obj.credit
                }));
            });
        });
    });

    $('#teacherId').on("change ", function () {
        $('#creditTaken').val( $('#teacherId option:selected').attr('credit') );
    });

    $('#departmentId').on("change onmouseover", function () {
        var id = $('#departmentId').val();
       
        $.post("/CourseToTeacherAssign/GetCouseCodeList", { id: id }).success(function (data) {
            coursedata = data;
            $('#couseCode').empty().append(' <option value="">Select course </option>');

            data.forEach(function (obj) {
                $('#couseCode').append($('<option>', {
                    value: obj.Id,
                    text: obj.CourseCode,
                    name: obj.Name+","+obj.Credit
                }));
            });
        });
    });

    $('#couseCode').on("change ", function (e) {       
        var name = $(e.currentTarget[e.currentTarget.selectedIndex]).attr('name');
        $('#courseName').val(name.split(",")[0]);
        $('#courseCredit').val(name.split(",")[1]);
    });

    function sendfromdata() {
        var model = {
            id: 0,
            departmentName: $('#departmentId').val(),
            teacherName: $('#teacherId').val(),
            creditToTaken: $('#creditTaken').val(),
            remainingCredit: 5,
            couseCode: $('#couseCode').val(),
            courseName: $('#courseName').val(),
            courseCredit: $('#courseCredit').val()

        };

        $.post("/CourseToTeacherAssign/Create", model).then(function () {

        });
    }




</script>

